node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
.env.local
.env.development
.env.test
.env.production
README.md
.vscode
.idea
*.log
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache
build
dist
*.egg-info
